.search_container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1fr;
  grid-template-areas:
    "navbar navbar navbar navbar"
    "sidebar main main main"
}

.navbar {
  grid-area: navbar;
}

.sidebar {
  grid-area: sidebar;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* flex-wrap: wrap; */
  align-items: flex-end;
  /* align-content: flex-start; */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  flex-direction: row-reverse;
}

/* .like {
  padding: 6px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
} */

.add-button {
  padding: 8px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  width: 100px;
  border-radius: 5px;
  background-color: #5a78c4;
  color: #ffffff;
  margin-right: 2rem;
  margin-top: 2rem;
}

.add-button:hover {
  background-color: #ffffff;
  border: 1px solid #5a78c4;
  border-radius: 5px;
  color: #5a78c4;
}

main {
  grid-area: main;
}

@media only screen and (max-width: 550px) {
  .search_container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.4fr 1fr;
    grid-template-areas:
      "navbar"
      "sidebar"
      "main"
  }
}

.btn {
  padding: 6px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  margin: 0.5rem;
}

.btn {
  padding: 8px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  /* width: 150px; */
  border-radius: 5px;
  background-color: #5a78c4;
  color: #ffffff;
  margin-right: 2rem;
  display: flex;
}

.btn:hover {
  background-color: #ffffff;
  border: 1px solid #5a78c4;
  border-radius: 5px;
  color: #5a78c4;
}

.active {
  background-color: #ef9a9a;
}

.btn-link {
  /* Не знаю с какой целью добавляли,не стал удалять. */
}

/* Стрелки */
.sort {
  margin-left: 2rem;
  margin-top: 0.5rem;
}

.sorting-up {
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 1rem solid #ffffff;
  float: right;
}

.sorting-down {
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 1rem solid #ffffff;
  float: right;
}

.no-sorting {
  width: 0;
  height: 0;
  border-top: 0.4rem solid transparent;
  border-right: 0.8rem solid #74808c;
  border-bottom: 0.4rem solid transparent;
  float: right;
}
