/** .......GRID SETTING........ **/
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.2fr 0.7fr 1fr 0.2fr;
  grid-template-rows: 0.2fr 1fr 1fr;
  grid-gap: 20px;
  grid-template-areas:
    "navbar navbar navbar navbar"
    "column1 photo map column2"
    "column1 main main column2"
}

.main {
  grid-area: main;
  display: flexbox;
}

.navbar {
  grid-area: navbar;
}

.column1 {
  grid-area: column1;
}

.column2 {
  grid-area: column2;
}

/**.................**/

.restaurant-photo {
  grid-area: photo;
  height: 100%;
  background-color: aquamarine;
}

.img {
  width: 60rem;
  height: 40rem;
}

.map {
  grid-area: map;
  background-color: aqua;
  display: flex;
}

.res-data {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-top: 1rem;
}

.res-info {
  border-bottom: 1px solid rgb(82, 82, 82);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  font-size: 1.3em;
}

.content-right {
  display: flex;
  flex-direction: column;
  text-align: end;
}


.highlights-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}